body {
  background: linear-gradient(135deg, #0b0b0b, #1a1a1a);
  color: #7a7cff;
  font-family: 'Courier New', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.screen { width: 90%; max-width: 800px; text-align: center; }
button {
  padding: 8px 15px; margin: 5px; background-color: #7a7cff; border: none; color: #000;
  border-radius: 5px; cursor: pointer; transition: 0.3s;
}
button:hover { background-color: #5e5edd; box-shadow: 0 0 10px #7a7cffaa; }
#chat-container, #private-container {
  background: rgba(0,0,0,0.9);
  border: 2px solid #7a7cff;
  height: 300px;
  overflow-y: auto;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}
#users-panel {
  background: rgba(18,0,0,0.9);
  border-radius: 10px; padding: 10px; border: 2px solid #ff4b4b;
  max-height: 300px; overflow-y: auto;
}
ul { list-style: none; padding: 0; }
li { cursor: pointer; padding: 5px; border-bottom: 1px solid #444; }
li:hover { background-color: #333; }
input { padding: 10px; width: 70%; margin: 5px 0; border-radius: 6px; border: 1px solid #7a7cff; background: #0b0b0b; color: #7a7cff; }
