:root {
  --bg: #050b08;
  --neon: #00ff88cc;
  --text: #d7ffe9;
}

* {
  box-sizing: border-box;
  font-family: "Courier New", monospace;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
  overflow: hidden;
}

#particles {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* SCREENS */
.screen {
  display: none;
  width: 100vw;
  height: 100vh;
}

.screen.active {
  display: flex;
}

.center {
  align-items: center;
  justify-content: center;
}

/* TERMINAL */
.terminal-window {
  width: 90%;
  max-width: 600px;
  border: 1px solid var(--neon);
  box-shadow: 0 0 20px var(--neon);
}

.terminal-bar {
  display: flex;
  align-items: center;
  padding: 6px;
  background: #0c1a12;
}

.buttons {
  display: flex;
  gap: 6px;
}

.btn {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.red { background:#ff5f56 }
.yellow { background:#ffbd2e }
.green { background:#27c93f }

.title {
  margin: auto;
  color: var(--neon);
}

#terminal {
  padding: 20px;
}

/* SALAS */
.rooms-box {
  text-align: center;
}

.rooms {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.room {
  padding: 14px;
  border-radius: 30px;
  border: 1px solid var(--neon);
  cursor: pointer;
}

.room:hover {
  background: rgba(0,255,136,0.1);
}

.global-count {
  margin-bottom: 10px;
}

/* CHAT */
#chatScreen {
  flex-direction: column;
  padding: 10px;
}

.chat-top {
  display: flex;
  gap: 10px;
  align-items: center;
}

#privateTabs {
  display: flex;
  gap: 6px;
  margin: 6px 0;
}

.tab {
  padding: 6px 14px;
  border-radius: 20px;
  border: 1px solid var(--neon);
  cursor: pointer;
}

.tab.active {
  background: rgba(0,255,136,0.2);
}

.chat-body {
  flex: 1;
  display: flex;
}

#messages {
  flex: 1;
  overflow-y: auto;
}

#usersPanel {
  width: 150px;
  border-left: 1px solid var(--neon);
  padding: 6px;
}

.inputBar {
  display: flex;
  gap: 6px;
}

input, button {
  background: #0c1a12;
  border: 1px solid var(--neon);
  color: var(--text);
  padding: 8px;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
}

.modal-box {
  border: 1px solid var(--neon);
  padding: 20px;
  background: #06120c;
  width: 260px;
  text-align: center;
}

#nickError {
  color: #ff8080;
  margin-top: 6px;
}

#fileInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
