:root {
  --bg:#050b08;
  --green:#00ff88;
  --panel:#071a12;
}

* {
  box-sizing:border-box;
  font-family:"Courier New",monospace;
  color:var(--green);
}

body {
  margin:0;
  background:var(--bg);
  overflow:hidden;
}

#particles {
  position:fixed;
  inset:0;
  z-index:0;
}

.screen {
  position:fixed;
  inset:0;
  display:none;
  padding:20px;
  z-index:2;
}

.screen.active { display:block; }

.center {
  display:flex;
  align-items:center;
  justify-content:center;
}

/* TERMINAL */
.terminal {
  border:1px solid var(--green);
  padding:20px;
  width:90%;
  max-width:600px;
  background:black;
  box-shadow:0 0 30px #00ff8866;
}

.cursor {
  animation:blink 1s infinite;
}

@keyframes blink {
  50% { opacity:0; }
}

/* SALAS */
.section-title {
  margin-bottom:20px;
}

.room-card {
  border:1px solid var(--green);
  padding:15px;
  margin-bottom:15px;
  background:rgba(0,0,0,.6);
  cursor:pointer;
}

.room-card:hover {
  background:rgba(0,255,136,.08);
}

.zone {
  font-size:12px;
  opacity:.7;
}

.live {
  float:right;
  font-size:12px;
}

/* PANEL */
.panel {
  width:100%;
  max-width:420px;
  border:1px solid var(--green);
  padding:20px;
  background:var(--panel);
}

.nick-row {
  display:flex;
  gap:5px;
}

input, button {
  background:black;
  border:1px solid var(--green);
  padding:10px;
}

.primary {
  width:100%;
  margin-top:15px;
  background:#003d24;
}

/* CHAT */
.chat-header {
  display:flex;
  gap:10px;
  border-bottom:1px solid var(--green);
  padding-bottom:10px;
}

#messages {
  height:65vh;
  overflow-y:auto;
  padding:10px;
}

.msg {
  margin-bottom:8px;
}

.chat-input {
  display:flex;
  gap:5px;
}
