* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #050b08;
  font-family: monospace;
  color: #3cff8f;
  overflow: hidden;
  height: 100vh;
}

/* PARTICLES */
canvas {
  position: fixed;
  inset: 0;
  z-index: -1;
}

/* SCREENS */
.screen {
  position: absolute;
  inset: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.screen.active {
  display: flex;
  animation: portalIn .6s ease;
}

@keyframes portalIn {
  from {
    opacity: 0;
    transform: scale(1.1);
    filter: blur(20px);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}

/* TERMINAL */
.terminal {
  width: 92%;
  max-width: 420px;
  background: rgba(0,0,0,.75);
  border: 1px solid #3cff8f;
  border-radius: 14px;
  padding: 14px;
  box-shadow: 0 0 40px #3cff8f55;
}

.terminal-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.red { background: #ff5555; }
.yellow { background: #ffcc00; }
.green { background: #00ff66; }

.path {
  margin-left: 10px;
}

.cursor {
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { opacity: 0; }
}

/* SALAS */
.title {
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.users-counter {
  margin-bottom: 16px;
  font-size: 0.9rem;
  opacity: 0.8;
}

.room {
  width: 100%;
  max-width: 360px;
  margin: 14px 0;
  padding: 14px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.03);
  border: 1px solid #3cff8f;
  border-radius: 12px;
  cursor: pointer;
  transition: .25s;
}

.room:hover {
  background: rgba(255,255,255,0.07);
  transform: translateY(-2px);
}

.room-count {
  font-size: 0.8rem;
  opacity: 0.6;
}

/* CHAT */
.chat-header {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

.messages {
  flex: 1;
  width: 100%;
  max-width: 500px;
  overflow-y: auto;
  border: 1px solid #3cff8f;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 6px;
  background: rgba(0,0,0,.4);
}

.chat-input {
  display: flex;
  gap: 6px;
  width: 100%;
  max-width: 500px;
}

.chat-input input,
.chat-input button {
  background: #000;
  border: 1px solid #3cff8f;
  color: #3cff8f;
  border-radius: 8px;
  padding: 6px;
}

/* IDENTIDAD */
.identity-box {
  width: 100%;
  max-width: 420px;
  background: rgba(0,0,0,.75);
  border: 1px solid #3cff8f;
  border-radius: 16px;
  padding: 20px;
}

.nick-row {
  display: flex;
  gap: 8px;
  margin: 12px 0;
}

.nick-row input {
  flex: 1;
  padding: 10px;
  background: #000;
  border: 1px solid #3cff8f;
  color: #3cff8f;
  border-radius: 10px;
}

.enter-chat {
  width: 100%;
  margin-top: 15px;
  padding: 12px;
  background: #0f3;
  color: #000;
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}

.ghost-btn {
  margin-top: 10px;
  background: none;
  border: none;
  color: #3cff8f;
  cursor: pointer;
}
