body {
  margin: 0;
  font-family: monospace;
  background: #050520;
  color: #0ff;
}

.screen {
  text-align: center;
  padding: 20px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  background: #111;
  color: #0ff;
  border: 1px solid #0ff;
  cursor: pointer;
  transition: 0.3s;
}
button:hover { background: #0ff; color:#111; }

#chat-container {
  width: 80%;
  height: 300px;
  background: rgba(0,0,0,0.9);
  overflow-y: auto;
  margin: 10px auto;
  padding: 10px;
  border: 1px solid #0ff;
}

#chat-container div.user {
  margin-bottom: 6px;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% { text-shadow: 0 0 5px #0ff; }
  100% { text-shadow: 0 0 20px #0ff; }
}

/* ROOT TERMINAL */
#root-console {
  width: 90%;
  height: 300px;
  margin: 10px auto;
  background: black;
  color: #00ffff;
  font-family: monospace;
  font-size: 13px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #00ffff;
  box-shadow: 0 0 20px #00ffff;
}
#root-command {
  width: 70%;
  background: black;
  color: #00ffff;
  border: 1px solid #00ffff;
  padding: 6px;
}
